@import 'base';

.admin-options-box {
    z-index: 2;
    position: fixed;

    top: 0px;
    right: 0px;
    height: fit-content;
    width: fit-content;

    box-sizing: border-box;
    margin: 1em;
    padding: .85em;

    align-items: flex-end;
    justify-content: center;

    .logout-button {
        font-size: 25px;
        background-color: black;
        color: white;
    }
}

.image-upload-box {
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
    border: 4px double black;
    border-radius: 3px;
    
    background-color: white;

    form {
        height: inherit;

        box-sizing: border-box;
        padding: .2em;

        justify-content: center;
        align-items: center;

        * {
            width: 80%;
            height: inherit;

            padding: .2em;
            margin: .2em;
            box-sizing: border-box;

            border: 1px solid black;
            border-radius: 3px;
            box-shadow: none;

        }

        h3 {
            width: 98%;

            border: none;
            border-radius: 0px;
            border-bottom: 1px solid black;

            background-color: transparent;
            text-align: center;
            color: black;
            font-size: 30px;
        }

        .input-field {
            background-color: rgba(182, 185, 186, 0.299);
            color: black;
        }

        .add-file {
            background-color: rgba(182, 185, 186, 0.299);
            font-size: 20px;
            color: black;
        }

        .submit-file {
            width: 60%;

            border-radius: 3px;

            text-align: center;
            background-color: black;
            color: white;
            font-size: 20px;
        }
    }
}