.warning-modal {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 4px;
    border: 2px solid white;
    padding: .85em;

    text-align: center;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.386);
}