@import 'base';

.close-modal {
    z-index: 30;
    position: fixed;
    box-sizing: border-box;
    top: 10px;
    right: 10px;

    height: fit-content;
    width: fit-content;

    padding: .15em .35em;
    border: 3px solid white;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.666);

    font-size: 2rem;
    font-weight: 900;

}

.image-modal {
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.838);
    * {
        box-sizing: border-box;
    }

    justify-content: stretch;
    align-items: stretch;

    height: fit-content;
    width: fit-content;

    .photo-modal-left {
        flex-basis: 3;
        position: relative;
        height: 70vh;
        width: auto;

        &:hover {
            h1 {
                display: inline-block;
                box-sizing: content-box;
                position: absolute;

                padding: 1em;

                top: 50%;
                left: 0;
                right: 0;

                transform: translateY(-50%);

                width: inherit;
                height: fit-content;

                background-color: rgba(6, 3, 11, 0.742);
            }
        }

        h1 {
            display: none;
        }

        img {
            height: inherit;
            width: auto;
            max-width: 70vw;
        }
    }

    .photo-modal-right {
        padding-left: .85em;
        width: 20vw;
    }
}

@media screen and (max-width: 1000px) {
    .image-modal {
        height: 70vh;
        max-width: 80vw;
        min-width: 50vw;

        .photo-modal-right {
            display: none;
        }

        h1 {
            display: none;
        }

        &:hover {
            h1 {
                display: none !important;

            }
        }

        * {
            max-height: 100%;
        }

        .photo-modal-left {
            width: 100%;
            height: auto;
            position: relative;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        img {
            // position: absolute;
            height: inherit;
            width: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            object-fit: cover;  
        }
    }
}