@import 'base';

.image-index {
    box-sizing: border-box;
    padding: .85em;
    width: 100%;
    margin: 1.5em auto;

    column-count: 4;
    column-gap: 1em;
}

.img-index-item {

    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    margin: 0 0 1em;

    .delete-button {
        position: absolute;

        justify-content: center;
        align-items: center;

        border: 2px solid white;

        text-align: center;
        color: white;
        background-color: rgb(255, 0, 140);
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

@media screen and (max-width: 1000px) {
    .image-index {
        column-count: 3;
    }
}

@media screen and (max-width: 600px) {
    .image-index {
        column-count: 2;
    }
}