@import 'base';

body {
    background-color: black;
    color: white;
    font-family: $fat;
}

h1, h2, h3 {
    font-family: $fat;
};

h4, h5 {
    font-family: $times;
}

p {
    font-family: $thin;
}

button {
    padding: .35em;
    margin: .35em;
    border-radius: 3px;
}


.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}